<!DOCTYPE html>
<html>

<head>
  <title>Authentification</title>
</head>

<body>
  <% if (message) { %>
    <p>
      <%= message %>
    </p>
    <% } %>
      <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" required />
        <br />
        <label for="password">Mot de passe:</label>
        <input type="password" name="password" required />
        <br />
        <input type="submit" value="Se connecter" />
      </form>
</body>

</html>